.user-login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-form-container{
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.user-login-form input,
.user-login-form button {
  border:none;
  background-color: #f0879a;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 2px;
}

.user-login-form button {
  background-color: #ea526f;
  cursor:pointer;
  transition: background-color 0.2s;
}

.user-login-form button:hover {
  background-color: #ff8a5b;
}
