.user-login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .user-login-form input,
.user-login-form button {
  margin-bottom: 10px;
} */

.user-login-form input {
  background-color: rgb(116, 151, 116);
}

.user-login-form button {
  background-color: rgb(209, 186, 209);
}
