.container {
    display: flex;
    flex-direction: column;
    background-color: #fceade;
    gap:20px
}

.column-titles{
    display: flex;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 5%
}

.column-titles p{
    margin: 0px;

}

.column-titles button{
    border: none;
    background-color: #fceade;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.save-button{
    display: flex;
    justify-content: center;
}

.save-button button{
    font-size: 15px;
    background-color: #25ced1;
    border-radius: 5px;
    border: none;
    color: #ffff;
    padding: 10px 20px;
}

.save-button button:hover{
    background-color: #ea526f;
    transition: background-color 0.5s;
}
