.container {
    display: flex;
    flex-direction: column;
    background-color: #fceade;
    gap:20px
}

.save-button{
    display: flex;
    justify-content: center;
}

.save-button button{
    font-size: 15px;
    background-color: #25ced1;
    border-radius: 5px;
    border: none;
    color: #ffff;
    padding: 10px 20px;
}

/* button#save{
    font-size: 15px;
    background-color: #ea526f;
    border-radius: 5px;
    border: none;
    color: #ffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* width: 100px; */
/* } */ 

.save-button button:hover{
    background-color: #ea526f;
    transition: background-color 0.5s;
}
