.background-colour{

    background-color: #FCEADE;

}

.corner-button{
    position: absolute;
    top: 10px;
    right: 10px;
}


.selectors {
  display: flex;
  justify-content: space-around;
}


.listContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr;
  /* width: 100px;
  height: 100px;
  background-color: #ccc;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  padding-top: 10px;
}

.list{
  /* width: 100px;
  height: 100px;
  margin:10px; */
  /* width: calc(33.33% - 20px); */
  width: 240px;
  height: 300px;
  margin: 10px;
  border: none;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logout-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #ea526f;
  border:none;
  color: #ffffff;
  padding: 5px 10px;
  cursor:pointer;
  border-radius: 5px 5px;
  transition: background-color 0.2s ;
}

.logout-button:hover {
  background-color: #ff8a5b;
}

.todo-form input {
  width: 50%;
  padding: 8px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 14px;
}

.todo-form button {
  margin-left: 10px;
  background-color: #ff8a5b;
  border:none;
  color: #ffffff;
  padding: 8px 10px;
  cursor:pointer;
  border-radius: 5px 5px;
  transition: background-color 0.2s ;
}

.todo-form button:hover{
  background-color: #ea526f;
}

.todo-form {
  width: 50%;
  justify-content: space-around;
}

.second-button {
  background-color: #ff8a5b;
  border:none;
  color: #ffffff;
  cursor:pointer;
  border-radius: 5px 5px;
  transition: background-color 0.2s ;
  margin-bottom: 10px;
}

.second-button:hover{
  background-color: #ea526f;
}

  
  